<div class="home__container">
    <div class='home__h1-container'>
        <h1 class='home__h1'> Welcome </h1>
        <p>The first CV admin for the HR Manager</p>
        <div class="home__button 
        bg-gradient-to-r 
        from-purple-400 
        via-pink-500 to-red-500 
        rounded-full">
            <%= link_to 'start', '/dashboard' %>
        
        </div>
    </div>

</div>
